:root {
  --color-primary: rgba(180, 117, 0, 0.363);
  --color-primary-dark: rgba(126, 82, 1, 0.753);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
}

body {
}

nav {
  padding: 10px;
  z-index: 0;
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-dark),
    rgba(255, 255, 255, 0)
  );
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav h1 {
  font-size: 1.8rem;
  font-weight: 600;
  /* margin-left: 1rem; */
}

nav .nav-link {
  color: inherit;
  font-weight: 500;
}

nav .nav-link:hover {
  color: white;
}

nav .btn {
  font-weight: 500;
  border: none;
}

nav .btn:hover {
  color: white;
}

nav .dropdown-menu {
  background-color: rgb(27, 27, 27);
  border: none;
  min-width: 8rem;
  padding-left: -0.5rem;
  border-radius: 1px;
}

nav .dropdown-item {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

nav .dropdown-item:hover {
  transform: both 0.5s;
}

.hero {
  margin-top: -10rem;
  /* min-height: 45rem; */
}

.hero .hero-bg {
  /* position: absolute; */
  width: 100%;
  filter: opacity(0.7);
  z-index: -1;
}

.hero .row {
  background-color: var(--color-primary);
  border: 2px solid rgba(0, 0, 0, 0.377);
  border-radius: 10px;
  width: 70%;
  height: 50%;
  top: 22%;
  left: 15%;
}

.hero .row p {
  font-weight: 500;
}

.hero img {
  width: 120%;
}

.home {
  min-height: 335vh;
  background-image: linear-gradient(
    150deg,
    var(--color-primary-dark),
    rgba(0, 0, 0, 0.096)
  );
}

.home .row {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(145, 70, 9, 0.281);
  width: 60%;
  padding: 2rem;
  margin-top: 6rem;
  margin-left: 9rem;
  color: rgb(0, 0, 0);
}

.home img {
  width: 100%;
}

.updates {
  margin-top: -110rem;
}

.updates a {
  text-decoration: none;
  color: inherit;
}

.updates a:hover {
  color: rgba(0, 0, 0, 0.329);
}

.updates .row {
  width: 51rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 9rem;
  margin-bottom: 2rem;
}

.updates .col {
  padding-right: 0;
  width: 2rem;
}

.updates .col img {
  width: 100%;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  filter: opacity(80%);
}

.updates .updates-2 img {
  width: 120%;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  filter: contrast(120%);
}

footer {
  margin-top: 5rem;
  min-height: 15rem;
  background-color: var(--color-primary-dark);
}

footer .col {
  /* border: 1px solid black; */
  /* margin: 0 1rem; */
  margin-top: 3rem;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer .row-footer a:hover {
  color: white;
}

/* MEDIA QUERY */
@media (max-width: 1020px) {
  html {
    font-size: 100%;
  }

  .hero .row {
    height: 40%;
    top: 120px;
  }

  .home {
    min-height: 400vh;
  }

  .home .row {
    margin-left: 2rem;
    width: 52rem;
  }

  .updates {
    margin-top: -117rem;
  }
  .updates .row {
    width: 52rem;
    margin-left: 2rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 80%;
  }

  .hero .row {
    height: 40%;
    top: 120px;
  }

  .home {
    min-height: 320vh;
  }

  .home .row {
    margin-left: 2rem;
    width: 52rem;
  }

  .updates {
    margin-top: -116rem;
  }
  .updates .row {
    width: 52rem;
    margin-left: 2rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 70%;
  }

  .hero .row {
    height: 40%;
    top: 100px;
  }

  .home {
    min-height: 265vh;
  }

  .home .row {
    margin-left: 4.5rem;
  }

  .updates {
    margin-top: -110rem;
  }

  .updates .row {
    margin: 0 9rem;
    margin-bottom: 2rem;
    margin-left: 4.5rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 60%;
  }

  .hero .row {
    height: 40%;
    top: 70px;
  }

  .home {
    min-height: 220vh;
  }

  .home .row {
    margin-left: 1rem;
  }
  
  .updates {
    margin-top: -105rem;
  }
  
  .updates .row {
    margin: 0 5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

  }
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .home {
    min-height: 210vh;
  }

  .hero .row {
    height: 30%;
    top: 70px;
  }

  .updates {
    margin-top: -110rem;
  }

  .updates .row {
    margin: 0 9rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .hero .row {
    height: 25%;
    top: 70px;
  }

  .home {
    min-height: 180vh ;
  }
  .home .row {
    margin-left: 4.5rem;
  }

  .updates {
    margin-top: -117rem;
  }
  
  .updates .row {
    margin-left: 4.5rem;
  }
}

@media(max-width:400px) {
  html {
    font-size: 40%;
  }

  .hero .row {
    height: 18rem;
    margin-top: -3rem ;
  }

  .home {
    min-height: 150vh ;
  }
  .home .row {
    margin-left: 4.5rem;
  }

  .updates {
    margin-top: -108rem;
  }
  
  .updates .row {
    margin-left: 3.5rem;
  }
}

@media(max-width:300px) {
  html {
    font-size: 30%;
  }

  .hero .row {
    height: 18rem;
    margin-top: -6rem ;
  }

  .home {
    min-height: 120vh;
  }
  .home .row {
    margin-left: 4rem;
  }
  
  .updates {
    margin-top: -115rem;
  }
  
  .updates .row {
    margin-left: 3.5rem;
  }
}